<div class="flex justify-center flex-wrap flex-col content-center">
  <div class="flex w-full px-3 flex-col max-w-sm">
    <div class="card gap-2 mt-3 place-items-center">
      @for (user of users; track $index) {

      <div (click)="selectUser(user.name!)" class="card w-full cursor-pointer card-side bg-secondary shadow-xl">
        <figure class="w-1/3">
          <i class="bx bx-user text-6xl flex items-center justify-center"></i>
        </figure>
        <div class="p-3 mx-auto flex justify-center flex-col items-center">
          <h2 class="card-title text-base-content">
            {{ user.name }}
          </h2>
          <p class="text-base-content text-center">
            Last Training: {{ user.lastTraining ? (user.lastTraining | datePipe) : "- - -" }}
          </p>
        </div>
      </div>
      }
    </div>
  </div>
</div>
